body {
    background-color: white;
    margin: 0;
    font-family: Verdana, sans-serif;
    padding-top: 150px;
}

/* Flex Container*/
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.posts {
    flex: 1 1 20%;  
    min-width: 250px;  
    background-color: lightgray;
}

.theMap {
    flex: 1 1 65%;  
    min-width: 300px;  
}

#map {
    height: 400px;
    width: 100%;
}

.keys {
    flex: 1 1 15%;  
    min-width: 200px;  
    background-color: lightgray;
}

/* Footer */
.footer {
    display: block;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Mobile Order */
    .theMap { order: 1; }
    .keys { order: 2; }
    .posts { order: 3; }
    .footer { order: 4; }    
}

